[submodule "compile-extensions"]
	path = compile-extensions
	url = https://github.com/cf-buildpacks/compile-extensions.git
[submodule "buildpack-deployer"]
	path = buildpack-deployer
	url = https://github.com/Scalingo/buildpack-deployer
