language: minimal
dist: focal
branches:
  only:
  - main

script:
  - make test STACK="${STACK}" TEST_CMD="${TEST_CMD}"

jobs:
  include:
  - name: Linters (shellcheck and rubocop)
    language: ruby
    rvm:
      - 2.7
    script:
      - make lint-scripts
      - make lint-ruby

  - name: Hatchet integration tests (Heroku-16)
    if: env(HEROKU_API_USER) IS present AND env(HEROKU_API_KEY) IS present
    language: ruby
    rvm:
      - 2.7
    env:
      - STACK=heroku-16
    before_script:
      - bundle exec hatchet ci:setup
    script:
      - bundle exec parallel_split_test spec/hatchet/

  - name: Hatchet integration tests (Heroku-18)
    if: env(HEROKU_API_USER) IS present AND env(HEROKU_API_KEY) IS present
    language: ruby
    rvm:
      - 2.7
    env:
      - STACK=heroku-18
    before_script:
      - bundle exec hatchet ci:setup
    script:
      - bundle exec parallel_split_test spec/hatchet/

  - name: Hatchet integration tests (Heroku-20)
    if: env(HEROKU_API_USER) IS present AND env(HEROKU_API_KEY) IS present
    language: ruby
    rvm:
      - 2.7
    env:
      - STACK=heroku-20
    before_script:
      - bundle exec hatchet ci:setup
    script:
      - bundle exec parallel_split_test spec/hatchet/

env:
  jobs:
    - STACK=heroku-16 TEST_CMD=test/run-deps
    - STACK=heroku-16 TEST_CMD=test/run-versions
    - STACK=heroku-16 TEST_CMD=test/run-features

    - STACK=heroku-18 TEST_CMD=test/run-deps
    - STACK=heroku-18 TEST_CMD=test/run-versions
    - STACK=heroku-18 TEST_CMD=test/run-features

    - STACK=heroku-20 TEST_CMD=test/run-deps
    - STACK=heroku-20 TEST_CMD=test/run-versions
    - STACK=heroku-20 TEST_CMD=test/run-features
  global:
    - HATCHET_APP_LIMIT=100
    - HATCHET_RETRIES=3
    - IS_RUNNING_ON_CI=true
    - PARALLEL_SPLIT_TEST_PROCESSES=11
