language: minimal
dist: bionic
branches:
  only:
  - master

script:
  - make test STACK="${STACK}" TEST_CMD="${TEST_CMD}"

jobs:
  include:
  - name: Bash linting (shellcheck)
    script: make check
  - name: Hatchet integration tests
    if: env(TRAVIS_PULL_REQUEST_SLUG) = env(TRAVIS_REPO_SLUG)
    language: ruby
    rvm:
      - 2.6.6
    before_script:
      - gem install bundler -v 1.16.2
    script:
      - bundle exec hatchet ci:setup
      - PARALLEL_SPLIT_TEST_PROCESSES=11 bundle exec parallel_split_test spec/hatchet/

env:
  jobs:
    - STACK=cedar-14 TEST_CMD=test/run-deps
    - STACK=cedar-14 TEST_CMD=test/run-versions
    - STACK=cedar-14 TEST_CMD=test/run-features

    - STACK=heroku-16 TEST_CMD=test/run-deps
    - STACK=heroku-16 TEST_CMD=test/run-versions
    - STACK=heroku-16 TEST_CMD=test/run-features

    - STACK=heroku-18 TEST_CMD=test/run-deps
    - STACK=heroku-18 TEST_CMD=test/run-versions
    - STACK=heroku-18 TEST_CMD=test/run-features
  global:
    - HATCHET_RETRIES=3
    - IS_RUNNING_ON_CI=true
    - HATCHET_APP_LIMIT=80
    - HATCHET_DEPLOY_STRATEGY=git
    - secure: yjtlPE5FbVxTKnjUy/tZUBgSEf4qADD3QOxtgziuid73S0U/1IEXlMGFULsQzIjtlHKmHeywZqpVVEpthIH4RuT7uoX1Pb7SSM/g0T8fT3VoEFbFK1uYl0oZQbUS4Klxv9tPiumj8if3m6ULEGIz1X0wZcMOC0tMLwVCnwmap0E=
    - secure: ZeFTHWwnpIKE9nAqs88ocmiQh7bKce84lilGm5J23nf3N6V4wNyLwqlkvsM008WGBCaOg9AUx7ZunasT0ANsR5gLP3eV2UUg7ILdRgV2Gy13eNRFheC4PHdN92RqQ3aKoqlIv2K999xlhVjod0NzhkQQXB6PddfQINbuU7ks6As=
