language: minimal
dist: focal
branches:
  only:
  - main

script:
  - make test STACK="${STACK}" TEST_CMD="${TEST_CMD}"

jobs:
  include:
  - name: Bash linting (shellcheck)
    script: make check
  - name: Hatchet integration tests
    if: env(HEROKU_API_USER) IS present AND env(HEROKU_API_KEY) IS present
    language: ruby
    rvm:
      - 2.7
    before_script:
      - bundle exec hatchet ci:setup
    script:
      - PARALLEL_SPLIT_TEST_PROCESSES=11 bundle exec parallel_split_test spec/hatchet/

env:
  jobs:
    - STACK=cedar-14 TEST_CMD=test/run-deps
    - STACK=cedar-14 TEST_CMD=test/run-versions
    - STACK=cedar-14 TEST_CMD=test/run-features

    - STACK=heroku-16 TEST_CMD=test/run-deps
    - STACK=heroku-16 TEST_CMD=test/run-versions
    - STACK=heroku-16 TEST_CMD=test/run-features

    - STACK=heroku-18 TEST_CMD=test/run-deps
    - STACK=heroku-18 TEST_CMD=test/run-versions
    - STACK=heroku-18 TEST_CMD=test/run-features

    - STACK=heroku-20 TEST_CMD=test/run-deps
    - STACK=heroku-20 TEST_CMD=test/run-versions
    - STACK=heroku-20 TEST_CMD=test/run-features
  global:
    - HATCHET_RETRIES=3
    - IS_RUNNING_ON_CI=true
    - HATCHET_APP_LIMIT=80
    - HATCHET_DEPLOY_STRATEGY=git
